# Environments
.env
.venv
env/
venv/

# Ignore all dot files except gitignore
.*
!.gitignore

# Ignore replit specific files
replit.nix
__pycache__/

# Ignore the packager files
poetry.lock
pyproject.toml

# Ignore the db
docs/